* {
  box-sizing: border-box; }

body {
  font-size: 100%;
  line-height: 1.2em; }

body, h1, h2, h3, h4, h5, p, blockquote, figure, aside {
  margin: 0; }

header, footer, aside, nav, section, article, figure {
  display: block; }

h1 {
  font-size: 1.75em; }

h2 {
  font-size: 1.35em; }

h3 {
  font-size: 1.15em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.75em; }

small {
  font-size: 0.6em;
  opacity: 0.7; }

table {
  display: table;
  border-collapse: collapse;
  width: 100%; }

input, textarea, td, th, tr, table {
  font-size: inherit;
  font-family: inherit; }

@font-face {
  font-family: Archer-Light;
  src: url(fonts/Archer/Archer-Light-Pro.otf); }
@font-face {
  font-family: Archer-Bold;
  src: url(fonts/Archer/Archer-Bold-Pro.otf); }
@font-face {
  font-family: Archer-Book;
  src: url(fonts/Archer/Archer-Book-Pro.otf); }
@font-face {
  font-family: Avenir-Book;
  src: url(fonts/Avenir/AvenirLTStd-Book.otf); }
@font-face {
  font-family: Avenir-Heavy;
  src: url(fonts/Avenir/AvenirLTStd-Heavy.otf); }
.compact, .nav > ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

header {
  overflow: hidden; }

.navbar {
  margin-top: 20px; }

.logo {
  text-indent: -9999px;
  background-image: url("images/growlocallogo.png");
  width: 240px;
  height: 38px; }

.nav {
  margin-top: 20px;
  margin-bottom: 20px; }
  .nav ul {
    float: right; }
  .nav > ul {
    padding-bottom: 1px; }
  .nav ul > li {
    font-family: 'Archer-Book';
    display: inline;
    color: #f6921e;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 20px; }
  .nav a {
    display: inline;
    background-color: transparent;
    color: #f6921e;
    text-decoration: none;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px; }
  .nav a:hover, .nav .active a {
    color: white;
    text-decoration: none; }
  .nav a:hover {
    font-family: 'Archer-Bold';
    color: #f6921e;
    border-bottom-style: solid;
    border-bottom-color: #73b344;
    border-bottom-width: 3px; }
  .nav .active a {
    color: #f6921e; }

.sectiontitle {
  padding-top: 20px; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #CECECE;
  padding: 10px 30px;
  outline: 0;
  border: 0 solid transparent;
  white-space: nowrap; }
  .btn:hover {
    background-color: white; }
  .btn:active {
    top: 2px; }

.btn-default {
  color: #6D6D6D;
  background-color: #CECECE; }
  .btn-default:hover {
    background-color: #9b9b9b; }

.btn-small {
  font-size: 0.8em; }
  .btn-small:hover {
    background-color: #9b9b9b; }

.btn-medium {
  font-size: 0.8em;
  padding: 15px 30px; }
  .btn-medium:hover {
    background-color: #9b9b9b; }

.btn-large {
  font-size: 0.8em;
  padding: 17px 30px; }
  .btn-large:hover {
    background-color: #9b9b9b; }

.btn-submit {
  color: white;
  background-color: #14C406; }
  .btn-submit:hover {
    background-color: #0a6103; }

.btn-cancel {
  color: white;
  background-color: #C1064E; }
  .btn-cancel:hover {
    background-color: #5e0326; }

.btn-back {
  color: white;
  background-image: repeating-linear-gradient(45deg, #e6f728, #f7d428 10px, #effa73 10px, #effa73 20px); }
  .btn-back:hover {
    background-image: repeating-linear-gradient(45deg, #d2e408, #e4be08 10px, #e9f842 10px, #e9f842 20px); }

.btn-circle {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  padding: 20px; }

.btn-active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }

.btn-disable {
  color: white;
  background-color: #CECECE;
  cursor: not-allowed; }
  .btn-disable:hover {
    background-color: #CECECE; }

h1.headline {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  padding-top: 180px;
  line-height: 1.4;
  font-size: 2em;
  text-align: center; }

p.subheadline {
  font-family: Archer-Light;
  color: #ffffff;
  padding-top: 10px;
  line-height: 1.4;
  font-size: 1.2em;
  text-align: center; }

h1.sectiontagline {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  padding-top: 120px;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 300; }

h3.sectiontext {
  font-family: 'Open Sans', sans-serif;
  color: #c4e1af;
  line-height: 1.4;
  font-weight: 300;
  padding-bottom: 20px; }

h2.question {
  font-family: 'Open Sans', sans-serif;
  color: #73b344;
  line-height: 1.4;
  font-weight: 300; }

h4.answer {
  font-family: 'Open Sans', sans-serif;
  color: #4c4f4f;
  line-height: 1.4;
  font-weight: 300;
  padding-bottom: 30px; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 10px); }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.offset-0 {
  margin-left: 0%; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.pull-0 {
  margin-right: 0%; }

.pull-1 {
  margin-right: 8.33333%; }

.pull-2 {
  margin-right: 16.66667%; }

.pull-3 {
  margin-right: 25%; }

.pull-4 {
  margin-right: 33.33333%; }

.pull-5 {
  margin-right: 41.66667%; }

.pull-6 {
  margin-right: 50%; }

.pull-7 {
  margin-right: 58.33333%; }

.pull-8 {
  margin-right: 66.66667%; }

.pull-9 {
  margin-right: 75%; }

.pull-10 {
  margin-right: 83.33333%; }

.pull-11 {
  margin-right: 91.66667%; }

.d-n {
  display: none; }

.d-b {
  display: block; }

.d-ib {
  display: inline-block; }

.row {
  margin-left: -5px;
  margin-right: -5px;
  float: left; }

.full {
  width: 100%;
  margin: 0 auto; }

/*
.column {
	float:left;
	padding-left: $gutter-size / 2;
	padding-right:$gutter-size / 2;
}

[class^=col-] {
	float:left;
	padding-left: $gutter-size / 2;
	padding-right:$gutter-size / 2;
}
*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  float: left;
  padding-left: 5px;
  padding-right: 5px; }

@media (min-width: 0) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 10px); }

  .col-xs-1 {
    width: 8.33333%; }

  .col-xs-2 {
    width: 16.66667%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.33333%; }

  .col-xs-5 {
    width: 41.66667%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.33333%; }

  .col-xs-8 {
    width: 66.66667%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.33333%; }

  .col-xs-11 {
    width: 91.66667%; }

  .col-xs-12 {
    width: 100%; }

  .offset-xs-0 {
    margin-left: 0%; }

  .offset-xs-1 {
    margin-left: 8.33333%; }

  .offset-xs-2 {
    margin-left: 16.66667%; }

  .offset-xs-3 {
    margin-left: 25%; }

  .offset-xs-4 {
    margin-left: 33.33333%; }

  .offset-xs-5 {
    margin-left: 41.66667%; }

  .offset-xs-6 {
    margin-left: 50%; }

  .offset-xs-7 {
    margin-left: 58.33333%; }

  .offset-xs-8 {
    margin-left: 66.66667%; }

  .offset-xs-9 {
    margin-left: 75%; }

  .offset-xs-10 {
    margin-left: 83.33333%; }

  .offset-xs-11 {
    margin-left: 91.66667%; }

  .pull-xs-0 {
    margin-right: 0%; }

  .pull-xs-1 {
    margin-right: 8.33333%; }

  .pull-xs-2 {
    margin-right: 16.66667%; }

  .pull-xs-3 {
    margin-right: 25%; }

  .pull-xs-4 {
    margin-right: 33.33333%; }

  .pull-xs-5 {
    margin-right: 41.66667%; }

  .pull-xs-6 {
    margin-right: 50%; }

  .pull-xs-7 {
    margin-right: 58.33333%; }

  .pull-xs-8 {
    margin-right: 66.66667%; }

  .pull-xs-9 {
    margin-right: 75%; }

  .pull-xs-10 {
    margin-right: 83.33333%; }

  .pull-xs-11 {
    margin-right: 91.66667%; } }
@media (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 10px); }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .offset-sm-0 {
    margin-left: 0%; }

  .offset-sm-1 {
    margin-left: 8.33333%; }

  .offset-sm-2 {
    margin-left: 16.66667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.33333%; }

  .offset-sm-5 {
    margin-left: 41.66667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.33333%; }

  .offset-sm-8 {
    margin-left: 66.66667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.33333%; }

  .offset-sm-11 {
    margin-left: 91.66667%; }

  .pull-sm-0 {
    margin-right: 0%; }

  .pull-sm-1 {
    margin-right: 8.33333%; }

  .pull-sm-2 {
    margin-right: 16.66667%; }

  .pull-sm-3 {
    margin-right: 25%; }

  .pull-sm-4 {
    margin-right: 33.33333%; }

  .pull-sm-5 {
    margin-right: 41.66667%; }

  .pull-sm-6 {
    margin-right: 50%; }

  .pull-sm-7 {
    margin-right: 58.33333%; }

  .pull-sm-8 {
    margin-right: 66.66667%; }

  .pull-sm-9 {
    margin-right: 75%; }

  .pull-sm-10 {
    margin-right: 83.33333%; }

  .pull-sm-11 {
    margin-right: 91.66667%; } }
@media (min-width: 640px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 10px); }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .offset-md-0 {
    margin-left: 0%; }

  .offset-md-1 {
    margin-left: 8.33333%; }

  .offset-md-2 {
    margin-left: 16.66667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.33333%; }

  .offset-md-5 {
    margin-left: 41.66667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.33333%; }

  .offset-md-8 {
    margin-left: 66.66667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.33333%; }

  .offset-md-11 {
    margin-left: 91.66667%; }

  .pull-md-0 {
    margin-right: 0%; }

  .pull-md-1 {
    margin-right: 8.33333%; }

  .pull-md-2 {
    margin-right: 16.66667%; }

  .pull-md-3 {
    margin-right: 25%; }

  .pull-md-4 {
    margin-right: 33.33333%; }

  .pull-md-5 {
    margin-right: 41.66667%; }

  .pull-md-6 {
    margin-right: 50%; }

  .pull-md-7 {
    margin-right: 58.33333%; }

  .pull-md-8 {
    margin-right: 66.66667%; }

  .pull-md-9 {
    margin-right: 75%; }

  .pull-md-10 {
    margin-right: 83.33333%; }

  .pull-md-11 {
    margin-right: 91.66667%; } }
@media (min-width: 960px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 960px; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .offset-lg-0 {
    margin-left: 0%; }

  .offset-lg-1 {
    margin-left: 8.33333%; }

  .offset-lg-2 {
    margin-left: 16.66667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.33333%; }

  .offset-lg-5 {
    margin-left: 41.66667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.33333%; }

  .offset-lg-8 {
    margin-left: 66.66667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.33333%; }

  .offset-lg-11 {
    margin-left: 91.66667%; }

  .pull-lg-0 {
    margin-right: 0%; }

  .pull-lg-1 {
    margin-right: 8.33333%; }

  .pull-lg-2 {
    margin-right: 16.66667%; }

  .pull-lg-3 {
    margin-right: 25%; }

  .pull-lg-4 {
    margin-right: 33.33333%; }

  .pull-lg-5 {
    margin-right: 41.66667%; }

  .pull-lg-6 {
    margin-right: 50%; }

  .pull-lg-7 {
    margin-right: 58.33333%; }

  .pull-lg-8 {
    margin-right: 66.66667%; }

  .pull-lg-9 {
    margin-right: 75%; }

  .pull-lg-10 {
    margin-right: 83.33333%; }

  .pull-lg-11 {
    margin-right: 91.66667%; } }
@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px; }

  .col-xl-1 {
    width: 8.33333%; }

  .col-xl-2 {
    width: 16.66667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.33333%; }

  .col-xl-5 {
    width: 41.66667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.33333%; }

  .col-xl-8 {
    width: 66.66667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.33333%; }

  .col-xl-11 {
    width: 91.66667%; }

  .col-xl-12 {
    width: 100%; }

  .offset-xl-0 {
    margin-left: 0%; }

  .offset-xl-1 {
    margin-left: 8.33333%; }

  .offset-xl-2 {
    margin-left: 16.66667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.33333%; }

  .offset-xl-5 {
    margin-left: 41.66667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.33333%; }

  .offset-xl-8 {
    margin-left: 66.66667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.33333%; }

  .offset-xl-11 {
    margin-left: 91.66667%; }

  .pull-xl-0 {
    margin-right: 0%; }

  .pull-xl-1 {
    margin-right: 8.33333%; }

  .pull-xl-2 {
    margin-right: 16.66667%; }

  .pull-xl-3 {
    margin-right: 25%; }

  .pull-xl-4 {
    margin-right: 33.33333%; }

  .pull-xl-5 {
    margin-right: 41.66667%; }

  .pull-xl-6 {
    margin-right: 50%; }

  .pull-xl-7 {
    margin-right: 58.33333%; }

  .pull-xl-8 {
    margin-right: 66.66667%; }

  .pull-xl-9 {
    margin-right: 75%; }

  .pull-xl-10 {
    margin-right: 83.33333%; }

  .pull-xl-11 {
    margin-right: 91.66667%; } }
.header {
  display: block;
  overflow: hidden;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10000; }

.sec1 {
  background: url("images/garden.jpg");
  background-size: cover;
  display: block;
  float: left;
  width: 100%; }

.sec2 {
  background-color: #73b344;
  display: block;
  float: left;
  width: 100%; }

.sec3 {
  background-color: #f6921e;
  display: block;
  float: left;
  width: 100%; }

.sec4 {
  background-color: white;
  display: block;
  float: left;
  width: 100%; }

.sec5 {
  background-color: #6D482E;
  display: block;
  float: left;
  width: 100%; }

.icongroup1 {
  width: 100%;
  float: left;
  margin-top: 30px; }

.icongroup3 {
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 40px; }

.bannerexplore {
  width: 200px;
  height: 40px;
  top: -20px;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 1em;
  background-color: #73b344;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px; }

.bannerFAQ {
  width: 200px;
  height: 40px;
  top: -20px;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  color: #4c4f4f;
  font-size: 1em;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px; }

.bannerhowitworks {
  width: 200px;
  height: 40px;
  top: -20px;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 1em;
  background-color: #f6921e;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px; }

.btn {
  border: none;
  font-family: Archer-Bold;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 50px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

/* Button 2 */
.btn-2 {
  background: #73b344;
  color: #fff;
  box-shadow: 0 6px #2c441a;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  margin-bottom: 80px; }

/* Button 2a */
.btn-2a {
  border-radius: 0 0 5px 5px; }

.btn-2a:hover {
  background-color: #67a13d;
  box-shadow: 0 4px #2c441a;
  top: 2px; }

.btn-2a:active {
  background-color: #67a13d;
  box-shadow: 0 0 #f6921e;
  top: 6px;
  color: white; }

h1.section2text {
  padding-top: 150px; }

iframe {
  margin-top: 80px;
  margin-bottom: 80px; }

.footer {
  background-color: #6D482E; }

ul.footernav {
  margin: 0;
  padding-bottom: 20px;
  text-align: center; }

ul.footernav > li {
  font-family: Archer-Bold;
  color: #ffffff;
  text-decoration: none;
  display: inline;
  font-size: 1em;
  padding: 10px 20px; }

img.building {
  opacity: 0.20;
  z-index: -25; }

img.icon {
  width: 60%;
  margin: 0 auto;
  display: block; }

img.icon {
  width: 60%;
  margin: 0 auto;
  display: block; }

img.icon2 {
  width: 100%;
  display: block; }

.box1 {
  background-color: #73b344;
  height: 614px; }

.image1 {
  position: absolute;
  top: 500px;
  width: 20%; }

.headlinegroup {
  z-index: 20;
  position: relative; }

.icongroup2 {
  z-index: 20;
  position: relative;
  padding-top: 10px; }

p.imagetag {
  padding-top: 10px;
  font-family: Avenir-Heavy;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.2; }

p.imagetag2 {
  padding-top: 10px;
  font-family: Avenir-Heavy;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.2; }

img.kiosk {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 35%;
  float: right; }

.menu {
  margin-top: 23px;
  float: right; }

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px; }

.menu > li > a {
  font-family: Archer-Book;
  text-decoration: none;
  text-transform: uppercase;
  display: inline;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  letter-spacing: 1px; }

.menu > li > a:hover {
  border-style: solid;
  border-color: #4c3a64;
  border-width: 1px; }

ul.navmobile {
  width: 100%;
  padding-left: 0px; }

ul.navmobile > li {
  width: 33%;
  float: left;
  border-bottom: 2px solid white; }

ul.navmobile > li a {
  display: inline;
  float: right;
  width: 100%;
  color: white;
  background: #73b344;
  padding: 6% 10%;
  font-size: 1em;
  text-decoration: none;
  list-style: none;
  font-family: Archer-Book;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right; }

@media (max-width: 480px) {
  .sec1 {
    background: url("images/garden.jpg");
    background-size: 400%;
    display: block;
    float: left;
    width: 100%;
    position: absolute;
    top: 78px; }

  .sec2 {
    position: relative;
    top: 528px; }

  .sec3 {
    position: absolute;
    top: 876px; }

  .sec4 {
    position: absolute;
    top: 1450px; }

  .sec5 {
    position: absolute;
    top: 2760px; }

  .nav {
    display: none; }

  .growlocallogo {
    margin-bottom: 20px; }

  .desktoponly {
    display: none; }

  h1.section2text {
    padding-top: 20px; }

  h1.sectiontagline {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2em;
    padding-top: 0; }

  h3.sectiontext {
    font-family: 'Open Sans', sans-serif;
    color: #c4e1af;
    line-height: 1.2;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1em; }

  img.kiosk {
    margin-top: 0;
    margin-bottom: 20px;
    width: 80%;
    float: right; }

  .btn-2 {
    margin-bottom: 0; }

  .icongroup1 {
    margin-bottom: 0px; }

  iframe {
    margin-top: 20px; }

  h1.headline {
    padding-top: 20px;
    font-size: 1.2em; }

  p.subheadline {
    font-size: 1em; }

  img.icon {
    width: 80%; }

  p.imagetag {
    line-height: 1.4;
    font-size: 10px; }

  #menumobile {
    padding-top: 35px;
    padding-right: 10px;
    width: 50px;
    height: 1.2em;
    float: right;
    display: block;
    font-size: 2em;
    color: #73b344;
    right: 0;
    text-align: center;
    position: fixed;
    z-index: 50000; }

  #navmobile {
    position: fixed;
    z-index: 50000;
    top: 78px;
    margin: 0px; }

  #navmobile.js {
    display: none; }

  ul.navmobile {
    width: 50%;
    right: 0; }

  ul.navmobile > li {
    width: 100%;
    list-style: none; }

  .menu {
    display: none; } }
@media (min-width: 481px) and (max-width: 768px) {
  .sec1 {
    background: url("images/garden.jpg");
    background-size: 400%;
    display: block;
    float: left;
    width: 100%;
    position: absolute;
    top: 78px; }

  .sec2 {
    position: absolute;
    top: 540px; }

  .sec3 {
    position: absolute;
    top: 897px; }

  .sec4 {
    position: absolute;
    top: 1450px; }

  .sec5 {
    position: absolute;
    top: 2760px; }

  .nav {
    display: none; }

  .growlocallogo {
    margin-bottom: 20px; }

  .desktoponly {
    display: none; }

  h1.section2text {
    padding-top: 20px; }

  h1.sectiontagline {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2em;
    padding-top: 0; }

  h3.sectiontext {
    font-family: 'Open Sans', sans-serif;
    color: #c4e1af;
    line-height: 1.2;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1em; }

  img.kiosk {
    margin-top: 0;
    margin-bottom: 20px;
    width: 80%;
    float: right; }

  .btn-2 {
    margin-bottom: 0; }

  .icongroup1 {
    margin-bottom: 0px; }

  iframe {
    margin-top: 20px; }

  h1.headline {
    padding-top: 20px;
    font-size: 1.2em; }

  p.subheadline {
    font-size: 1em; }

  img.icon {
    width: 80%; }

  p.imagetag {
    line-height: 1.4;
    font-size: 10px; }

  #menumobile {
    padding-top: 35px;
    padding-right: 10px;
    width: 50px;
    height: 1.2em;
    float: right;
    display: block;
    font-size: 2em;
    color: #73b344;
    right: 0;
    text-align: center;
    position: fixed;
    z-index: 50000; }

  #navmobile {
    position: fixed;
    z-index: 50000;
    top: 78px;
    margin: 0px; }

  #navmobile.js {
    display: none; }

  ul.navmobile {
    width: 50%;
    right: 0; }

  ul.navmobile > li {
    width: 100%;
    list-style: none; }

  .menu {
    display: none; }

  img.icon2 {
    width: 45%; }

  #menumobile {
    padding-top: 35px;
    padding-right: 10px;
    width: 50px;
    height: 1.2em;
    float: right;
    display: block;
    font-size: 2em;
    color: #73b344;
    right: 0;
    text-align: center;
    position: absolute;
    z-index: 50000; }

  #navmobile {
    position: absolute;
    z-index: 50000;
    top: 78px;
    margin: 0px; }

  #navmobile.js {
    display: none; }

  ul.navmobile {
    width: 50%;
    right: 0; }

  ul.navmobile > li {
    width: 100%;
    list-style: none; }

  .menu {
    display: none; } }
@media (min-width: 769px) and (max-width: 959px) {
  .mobileonly {
    display: none; }

  .icongroup1desktop {
    margin-bottom: 150px; }

  #menumobile {
    display: none; }

  #navmobile {
    display: none;
    margin: 0; } }
@media (min-width: 960px) {
  .mobileonly {
    display: none; }

  .icongroup1desktop {
    margin-bottom: 150px; }

  #menumobile {
    display: none; }

  #navmobile {
    display: none;
    margin: 0; } }

/*# sourceMappingURL=style.css.map */
